<%- include('partials/header', {result: result}); -%>


	<h1> Hello <%= result.displayName %> </h1>
	<% if(messages.error) { %>
		<%= messages.error %>
		<% } %>
	<h2> Welcome to Love For The Uglies </h2>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus dictum nunc velit, ut aliquam velit molestie in. Sed auctor pellentesque felis ultricies ultrices. Pellentesque imperdiet vulputate augue, vel vulputate metus accumsan at. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam rhoncus a ex sed convallis. Vivamus mollis fermentum justo, sit amet fringilla felis. Nullam fermentum vestibulum ante eu vehicula. Morbi rhoncus quis quam eget porta. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In ultrices massa ante, eget convallis nisi rhoncus id. Suspendisse dignissim vulputate sem, vel convallis sem euismod vel. Nulla a interdum velit. Quisque lobortis dolor tincidunt orci faucibus accumsan.</p>
		<hr>
	<p>Donec felis massa, accumsan nec congue quis, congue et massa. Nam rutrum efficitur erat, aliquet cursus turpis suscipit a. Ut vel diam aliquam, sagittis mauris sed, dapibus arcu. Cras quis neque eget urna sagittis iaculis. Pellentesque sed ultrices enim, a sagittis mi. Duis id tristique nulla. Nam porttitor porttitor leo eget aliquam.</p>
		<hr>
		<p>Quisque ornare cursus turpis a maximus. Vestibulum posuere metus at urna fermentum, et varius orci interdum. Fusce nec venenatis mi, pharetra consectetur lectus. Suspendisse pulvinar in massa maximus luctus. Ut a lorem eget augue porta aliquam. Ut pretium tristique lacinia. Phasellus non leo vehicula, ullamcorper sem ut, aliquam lorem. Aliquam lacinia nunc vitae nunc pretium, a venenatis lacus tristique. Sed bibendum nisi vel auctor fermentum. Quisque scelerisque sem vitae accumsan malesuada. Etiam quis lorem lectus. Curabitur ornare urna vitae leo fringilla fringilla. Nullam tincidunt purus vitae arcu congue auctor. Integer ut volutpat tortor. Vestibulum ac elit sodales mauris sollicitudin molestie.</p>
		<hr>
		<p>Praesent ultricies imperdiet consequat. Nam a enim a arcu mollis varius. Aliquam malesuada ipsum nisi, luctus posuere leo condimentum vel. Sed ut efficitur velit. Suspendisse nibh nibh, placerat quis velit ut, dignissim elementum elit. Fusce luctus vestibulum pulvinar. In dolor sem, faucibus sed magna quis, volutpat egestas turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc fermentum in sapien mollis lacinia. Quisque a risus et risus sollicitudin efficitur. Suspendisse vestibulum nisi dignissim ligula commodo aliquam a in metus. Curabitur mollis nisl a ullamcorper rhoncus. Vestibulum at convallis quam.</p>
		<hr>
		<p>Integer pharetra elementum lacus nec sollicitudin. Quisque bibendum odio in dui placerat hendrerit. In risus ante, ultricies sed mauris vitae, venenatis pretium ante. Praesent non interdum velit. In sit amet finibus risus. Nam in tellus vel risus rutrum pretium. Vivamus nec justo a mi ullamcorper commodo. Suspendisse potenti. Donec non molestie tortor. Nam eget viverra metus. Curabitur nec venenatis lacus, et faucibus lectus. Donec scelerisque at felis eget imperdiet. Praesent cursus libero ipsum, et tincidunt mi maximus at. Fusce congue eleifend ex, vel tristique augue sodales nec. Etiam molestie justo at interdum commodo.</p>
<%- include('partials/footer') -%>