<%- include('partials/header', {email: result.email}); -%>


	<h1> <%= result.email %>'s Profile </h1>

	<form id="deleteForm">
		<button type="submit" class="btn btn-danger" onclick="deleteAccount();">Delete my account</button>
	</form>


	<script> function deleteAccount() {
		$.post("", {"message":"delete"},function(data, status, jqXHR){
			console.log(status)
			if(status == "success"){
				alert("Your account has been sucessfully deleted")
				window.location = "/"
			}
		}
		)}
		
		</script>
<%- include('partials/footer') -%>